.version.index /* version checker */
{
	color: #000010;
	background-color: #2D7A37;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #80CEF6;
	background: -webkit-gradient(linear, center top, center bottom, from(#80CEF6),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,#80CEF6 ,#FFFFFF 100%);
	background: linear-gradient(to bottom,#80CEF6 ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF80CEF6, endColorstr=#FFFFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF80CEF6', endColorstr='#FFFFFFFF', GradientType=0)";
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 2499.9500000000007px;
	background: -webkit-gradient(linear, center top, center bottom, from(#80CEF6),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,#80CEF6 ,#FFFFFF 100%);
	background: linear-gradient(to bottom,#80CEF6 ,#FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF80CEF6, endColorstr=#FFFFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF80CEF6', endColorstr='#FFFFFFFF', GradientType=0)";
	border-style: none;
	border-color: #000000;
	padding-bottom: 0px;
}

#page_position_content,#pu289
{
	width: 0.01px;
}

#u289
{
	z-index: 2;
	height: 481px;
}

#u289-bw
{
	z-index: 2;
	margin-top: 1625px;
	height: 481px;
}

#u288
{
	z-index: 5;
	height: 526px;
}

#u288-bw
{
	z-index: 5;
	margin-top: 156px;
	height: 526px;
}

#u246
{
	z-index: 6;
	min-height: 380px;
	padding-bottom: 146px;
}

#u253
{
	z-index: 12;
	width: 275px;
	margin-right: -10000px;
	margin-top: 187px;
	left: 52px;
}

#u246-bw
{
	z-index: 6;
	min-height: 380px;
}

#u249
{
	z-index: 9;
	height: 500px;
}

#u249-bw
{
	z-index: 9;
	margin-top: 500px;
	height: 500px;
}

#u250
{
	z-index: 10;
	height: 481px;
}

#u250-bw
{
	z-index: 10;
	margin-top: 876px;
	height: 481px;
}

#u251
{
	z-index: 11;
	min-height: 250px;
	padding-bottom: 229px;
}

#u261-17
{
	z-index: 28;
	margin-right: -10000px;
	margin-top: 47px;
	left: 10px;
}

#u251-bw
{
	z-index: 11;
	min-height: 250px;
	margin-top: 1121px;
}

#u256-4
{
	z-index: 14;
	min-height: 107px;
}

#u256-4-bw
{
	z-index: 14;
	min-height: 107px;
	margin-top: 392px;
}

#u260-10
{
	z-index: 18;
	margin-right: -10000px;
	margin-top: 769px;
	left: 10px;
}

#u262-17
{
	z-index: 45;
	margin-right: -10000px;
	margin-top: 1581px;
	left: 10px;
}

#u263
{
	z-index: 62;
	width: 230px;
	height: 33px;
	margin-right: -10000px;
	margin-top: 2136px;
	left: 75px;
}

#u270-4
{
	z-index: 69;
	margin-right: -10000px;
	margin-top: 2073px;
	left: 10px;
}

#u271-4
{
	z-index: 73;
	width: 360px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 2110px;
	left: 10px;
}

#u272-4
{
	z-index: 77;
	width: 360px;
	min-height: 98px;
	margin-right: -10000px;
	margin-top: 2145px;
	left: 10px;
}

#u285
{
	z-index: 89;
	width: 230px;
	height: 33px;
	margin-right: -10000px;
	margin-top: 2136px;
	left: 75px;
}

.ie #u285
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu257
{
	width: 0.01px;
	padding-bottom: 874px;
	margin-left: -72px;
	margin-top: -1636px;
}

#u257
{
	z-index: 3;
	width: 72px;
	top: 607px;
	left: -72px;
}

#u279
{
	z-index: 7;
	width: 72px;
	top: 1439px;
	left: 380px;
}

#pu268
{
	width: 0.01px;
	margin-left: 102px;
	margin-top: 29px;
}

#u268
{
	z-index: 67;
	width: 30px;
	margin-right: -10000px;
}

#u264
{
	z-index: 63;
	width: 30px;
	margin-right: -10000px;
	left: 73px;
}

#u266
{
	z-index: 65;
	width: 30px;
	margin-right: -10000px;
	left: 146px;
}

#pu282-4
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 198px;
}

#u282-4
{
	z-index: 81;
	width: 191px;
	min-height: 12px;
	margin-right: -10000px;
}

#u284-4
{
	z-index: 85;
	width: 160px;
	min-height: 12px;
	margin-right: -10000px;
	left: 200px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

